[Unit]
Description=SMS Bridge Service
Documentation=https://github.com/fsyyft-go/sms-bridge
After=network.target
Wants=network.target

[Service]
Type=simple
User=nobody
Group=nobody
WorkingDirectory=/data/webservers/tool/sms-bridge
ExecStart=/data/webservers/tool/sms-bridge/sms-bridge --config=/data/webservers/tool/sms-bridge/sms-bridge.conf > /data/wwwroot/log.ppno.net/wwwroot/smb-bridge/stdout.log

[Install]
WantedBy=multi-user.target